.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!.auto.tfvars.example
!*.tfvars.example
tfplan
*.tfplan
*.plan
*.out
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
outputs
